[submodule "Anime-Girls-Holding-Programming-Books"]
	path = Anime-Girls-Holding-Programming-Books
	url = https://.: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@github.com/cat-milk/Anime-Girls-Holding-Programming-Books.git
